/* Font */
@font-face {
  font-family: 'Goudy Medieval';
  src: url('../fonts/GOUDY.TTF');
}
.goudym {
	font-family: 'Goudy Medieval', Arial, sans-serif;
	letter-spacing: 2px;
}
.goudyl {
	font-family: 'Goudy Bookletter 1911', serif;
}
/* Resets */
.row {
	margin-bottom: 0px;
}

/*--- Top down CSS ---*/
/* nav */
.dropdown-content {
	min-width: 200px;
}
@media screen and (max-width: 415px) {
	nav .brand-logo {
		font-size: 1.6em;
		margin-left: -.5rem;
	}
	nav .button-collapse {
		margin-right: 5px;
	}
}


/* #contact-bar */
#contact-bar {
	font-size: 1.35rem;
	margin-top: -1px;
	margin-bottom: -1px;
}

#contact-bar a:link {
	color: #ffd740;
}

#contact-bar a:visited {
	color: #ffd740;
}

#contact-bar a:hover {
	color: white;
}

#contact-bar a:active {
	color: #ffd740;
}

@media screen and (max-width: 700px) {
	#top-text {
		width: 95%;
	}
	.social-link {
		margin-left: .5rem;
	}
}
@media screen and (min-width: 701px) {
	.social-link {
		margin-left: 1rem;
	}
}